* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #2CC76A;
  --primary-color-hover: #22BB5F;
  --bg-dark-grey: #232A31;
  --title: #333;
  --paragraph: #70747A;
  --green-800: #00854D;
  --grey-100: #E8E9EA;
  --grey-200: #CCC;
  --red: #EB003F;
  --orange: #EF8F29;
  --white: #FFF;
}

h1, h2, h3 {
  color: var(--title);
}

p {
  color: var(--paragraph);
}

/* Navbar */
.navbar-container {
  width: 100%;
  background: var(--bg-dark-grey);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.navbar-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.navbar-container .nav-link, .navbar-container .default-btn {
  text-decoration: none;
  transition: .2s ease;
  text-transform: uppercase;
}

.navbar-container .nav-link {
  color: var(--white);
}

.navbar-container .nav-link:hover {
  color: var(--grey-200);
}

.logo {
  width: 50px;
}

.default-btn {
  padding: 1rem 1.5rem;
  background: var(--primary-color);
  border-radius: .5rem;
  color: var(--bg-dark-grey);
  font-weight: 600;
}

.default-btn:hover {
  background: var(--primary-color-hover);
}

/* MAIN BANNER */
.main-banner {
  background-image: url("../img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.main-banner h1, .main-banner p {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  text-shadow: #000 4px 2px 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main-banner h1 {
  font-size: 54px;
}

.main-banner p {
  font-size: 32px;
}

/* SERVICES */
.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.services-container li {
  flex: 1 1 200px;
  text-align: center;
  padding: 1.5rem;
}

.fas {
  font-size: 60px;
  margin-bottom: 1rem;
}

.fa-shield-alt {
  color: var(--primary-color);
}

.fa-rocket {
  color: var(--red);
}

.fa-comments {
  color: var(--orange);
}

.services-container h3 {
  margin-bottom: 1.5rem;
}

.services-container p {
  line-height: 156%;
}

/* PRICES AND PLANS */
.pricing-container {
  padding-bottom: 5rem;
  text-align: center;
}

.pricing-container h2 {
  font-size: 36px;
  line-height: 156%;
}

.pricing-container p {
  font-size: 20px;
  line-height: 156%;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}

.plan {
  flex: 1;
  max-width: 275px;
  margin: 0 20px;
  border-radius: .5rem;
  overflow: hidden;
}

.plan ul {
  padding: 0;
  list-style: none;
}

.plan li {
  height: 50px;
  line-height: 50px;
  background: var(--grey-100);
  color: var(--title);
}

.plan .price {
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--green-800);
  color: var(--white);
  text-align: center;
  margin: 0 auto -50px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  background: var(--bg-dark-grey);
  padding: 50px 0;
  border-radius: .5rem .5rem 0 0;
}

.plan .plan-btn {
  background: var(--green-800);
  color: var(--white);
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan .recommended {
  background: #EB0054;
}

/* SEARCH DOMAIN */
.searchdomain-container {
  background: var(--bg-dark-grey);
  text-align: center;
  padding: 5rem 0;
}

.searchdomain-container h2 {
  color: var(--white);
  font-size: 42px;
  margin-bottom: 1rem;
}

.searchdomain-container p {
  color: var(--grey-200);
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.searchdomain-container input {
  display: block;
  border: none;
  border-radius: .5rem;
  margin: 0 auto;
}

.searchdomain-container input[type="text"] {
  width: 60%;
  padding: 1.25rem;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.searchdomain-container input[type="submit"] {
  background: var(--primary-color);
  color: var(--bg-dark-grey);
  padding: 1rem 2rem;
  font-size: 20px;
  cursor: pointer;
  opacity: .85;
  transition: all .2s ease;
}

.searchdomain-container input[type="submit"]:hover {
  opacity: 1;
}